
<section class="text-center">

    <!--Section heading-->
    <h1 class="h1 py-5 font-weight-bold">Welcome to MT ArtBlog</h1>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p>
<p> Please <a routerLink="/users/login">login</a> to gain access to our articles</p>
<p>If you don't have an account, <a routerLink="/users/register">click</a> here to Register</p>
</section>
