
<form class="text-center col-md-4 offset-4 border border-light p-5" #registrationForm="ngForm" (ngSubmit)="registerHandler(registrationForm)">
    <p class="h4 mb-4">Register</p>


    <input #emailInput="ngModel" name="email" ngModel type="email" id="defaultRegisterFormEmail" class="form-control mb-4" 
    placeholder="E-mail"  required minlength="6">
    <div class="form-text  mb-4" *ngIf="emailInput.errors?.invalid && emailInput.touched">Please enter valid email</div>
    
    <input #password="ngModel" ngModel name="password" type="password" id="defaultRegisterFormPassword" class="form-control" 
    placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required minlength="6">
    <div *ngIf="(password.errors?.invalid&&(password.touched||password.dirty))"id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      Invalid password!
    </div>
   
    <div class="text-center col-md-12 " >
      <button [disabled]="registrationForm.invalid" mdbBtn color="info" block="true" class="my-4" type="submit">Register</button>
    </div>
    
    <p>
        Already Registered? <a routerLink="/users/login">Login</a>.
      </p>
</form>
 
